body {
    font-family: $inter, sans-serif;
    font-weight: 400;
    color: $text-primary;
}

h1 {
    font-family: $woodward;
    font-weight: 400;
    @include fluid-typography(40,90,300,1500);
    color: $text-accent;
}

h3 {
    font-family: $woodward;
    font-weight: 400;
    font-size: 3vw;
    color: $text-primary-inverse;
}

p {
    @include fluid-typography(16,25,300,1500);
}

#stories{
    h1{
        color: $text-primary-inverse;
    }
}

