@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('../assets/fonts/Woodward-Regular.woff');


@font-face {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
    font-weight: 600;
}

@font-face {
    font-family: 'Woodward', sans-serif;
    src: url('../assets/fonts/Woodward-Regular.woff') format('woff');
    font-weight: 400;
}